*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

ol,
ul,
li {
  list-style: none;
}

.sidebar__nav .lang-changer__dropdown {
  position: relative;
}
.sidebar__nav .lang-changer__dropdown:hover .dropdown__content {
  display: block;
}
.sidebar__nav .lang-changer__dropdown .dropdown__button {
  background-color: #f64c72;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
}
.sidebar__nav .lang-changer__dropdown .dropdown__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: absolute;
  margin: 0 auto;
  background-color: #2f2fa2;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.sidebar__nav .lang-changer__dropdown .dropdown__content .dropdown__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
}
.sidebar__nav .lang-changer__dropdown .dropdown__content .dropdown__link:hover {
  background-color: #131464;
}

.sidebar {
  width: 50px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #131464;
  position: fixed;
  z-index: 1;
}
.sidebar__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__nav .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.sidebar__nav .nav__links li a {
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.sidebar__nav .nav__links li a:hover {
  text-shadow: 0px 0px 5px #fff;
}

@-webkit-keyframes caret {
  to {
    left: 100%;
  }
}

@keyframes caret {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
.main .aboutme-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}
.main .aboutme-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.main .aboutme-section__content .aboutme__image {
  width: 20rem;
  border-radius: 10px;
}
.main .aboutme-section__content .aboutme__description {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .aboutme-section__content .aboutme__description .greetings {
  font-family: "Source Code Pro", sans-serif;
  font-size: 3rem;
  color: #fff;
  position: relative;
  margin: 0 20px;
}
.main .aboutme-section__content .aboutme__description .greetings.typewriter::before, .main .aboutme-section__content .aboutme__description .greetings.typewriter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.main .aboutme-section__content .aboutme__description .greetings.typewriter::before {
  background-color: #242582;
  -webkit-animation: caret 2s steps(12) forwards 1s;
          animation: caret 2s steps(12) forwards 1s;
}
.main .aboutme-section__content .aboutme__description .greetings.typewriter::after {
  width: 0.1em;
  background-color: #fff;
  -webkit-animation: caret 2s steps(12) forwards 1s, blink 0.5s steps(12) infinite;
          animation: caret 2s steps(12) forwards 1s, blink 0.5s steps(12) infinite;
}
.main .aboutme-section__content .aboutme__description .description {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .aboutme-section__content .aboutme__description .description p {
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2rem;
  color: rgb(200, 200, 200);
  width: 80%;
  line-height: 30px;
}
.main .aboutme-section__content .aboutme__description .description p::before {
  content: "";
  display: inline-block;
  width: 60px;
}

.main {
  overflow-anchor: none;
  min-height: 100vh;
  background-color: #242582;
}
.main section {
  scroll-snap-align: start;
  padding-left: 70px;
}
.main .container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

@media only screen and (min-width: 993px) {
  .main section {
    height: 100vh;
  }
}
@media only screen and (max-width: 992px) {
  .main {
    padding-top: 20px;
  }
  .main .aboutme-section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .main section {
    padding-left: 50px;
  }
  .main .aboutme-section__content .aboutme__image {
    width: 15rem;
  }
  .main .aboutme-section__content .aboutme__description .greetings {
    font-size: 2rem;
  }
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #242582;
}

::-webkit-scrollbar-thumb {
  background-color: #2f2fa2;
  border-radius: 10px;
}

@media only screen and (max-width: 992px) {
  html {
    scroll-padding: 20px;
  }
}