@import 'aboutme';
@import 'skills';
@import 'studies';

.main {
    // stop page from scrolling down
    overflow-anchor: none;
    background-color: $primary-color;

    section {
        scroll-snap-align: start;
        padding-left: 70px;

        &:not(:first-of-type) {
            margin-top: 20px;
        }
    }
}