@media only screen and (min-width: 993px) {
    html {
        scroll-snap-type: y mandatory;
    }

    .skills-gallery {
        .skills-container {
            .skills__image {
                width: 250px;
                height: 250px;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    html {
        scroll-padding: 20px;
    }

    .main {
        padding-top: 20px;

        .aboutme-section {
            &__content {
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .main {
        section {
            padding-left: 50px;
        }

        .aboutme-section {
            &__content {
                .aboutme__image {
                    width: 15rem;
                }

                .aboutme__description {
                    .greetings {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}