@import 'variables';
@import 'resets';
@import 'mixins';
@import './sidebar/sidebar';
@import './main/main';
@import 'media-queries';

::-webkit-scrollbar {
    width: 10px;
    background-color: $primary-color;
}

::-webkit-scrollbar-thumb {
    background-color: $tertiary-color;
    border-radius: 10px;
}


@media only screen and (max-width: 992px) {
    html {
        scroll-padding: 20px;
    }
}