@import 'variables';
@import 'resets';
@import 'mixins';
@import './sidebar/sidebar';
@import './main/main';
@import 'media-queries';

::-webkit-scrollbar {
    width: 0px;
}

.container {
    @include displayFlex(column, center, center);
    min-height: 100vh;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}