@import 'language-changer';

.sidebar {
    width: 50px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    position: fixed;
    z-index: 1;

    &__nav {
        height: 100%;
        @include displayFlex(column, space-evenly, center);

        .nav__links {
            @include displayFlex(column, center, center);
            gap: 20px;

            li {
                a {
                    @include textStyle(1.5rem);
                    transition: .3s ease-out;

                    &:hover {
                        text-shadow: 0px 0px 5px #fff;
                    }
                }
            }
        }
    }
}